[user]
	name = Felipe Goes
	email = ogoesfelipe@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[merge]
	conflictstyle = diff3
[diff]
	external = difft
[alias]
	a = add
	d = diff
	l = log --graph --decorate
	r = restore
	aa = add -A
	ap = add --patch
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	ds = diff --staged
	lf = log --graph --decorate -p --name-only
	od = push origin --delete
	pr = pull rebase
	rs = restore --staged
	st = status -s
	bra = branch -a
	cdf = clean -df
	fap = fetch -ap
	conf = config --global --edit
	undo = reset HEAD~1
	amend = commit --amend
